{% extends 'layout.html' %}

{% block content %}
<div class="container" style="height: 100vh;">
    <div class="row align-items-center" style="height: 100vh;">
        <div class="col align-self-center text-center">
            ,<img class="mb-4" src="https://cdn.icon-icons.com/icons2/1524/PNG/512/signout_106525.png" width="150"
                alt="">
            <h3>Você saiu!</h3>
            <a href="{% url 'login'%}">Click aqui para logar novamente.</a>
            <h4></h4>
        </div>
    </div>

</div>
<script>
    let count = 5;
    let h4 = document.querySelector('h4')
    let countdown = setInterval(() => {
        if (count > 0) {
            h4.innerHTML = count
            count--
        }
        else {
            window.location.href = '/'
        }
    }, 1000)
</script>
{% endblock %}