{% extends 'layout.html' %}
{% load static %}

{% block linkcss %}
<style>
    #id_email {
        display: block;
        width: 100%;
        height: calc(1.5em + .75rem + 2px);
        padding: .375rem .75rem;
        font-size: 1rem;
        font-weight: 400;
        line-height: 1.5;
        color: #495057;
        background-color: #fff;
        background-clip: padding-box;
        border: 1px solid #ced4da;
        border-radius: .25rem;
        transition: 0.3s;
        
    }

    #id_email:focus{
        box-shadow: 0 0 5px #0064c9;
        background-color: #f5f5f5;
        outline: 0;
    }

</style>

{% endblock %}

{% block content %}
<div class="container" style="height: 100vh;">
    <div class="row align-items-center" style="height: 100vh;">
        <div class="col align-self-center w-100">
            <div style="width: 300px;" class="ml-auto mr-auto text-center">
                <img src="https://image.flaticon.com/icons/png/512/52/52840.png" width="128">
                <p class="text-primary">
                    Informe seu email cadastrado.
                </p>

                <form action="" method="POST">
                    {% csrf_token %}
                    {% if form.email.errors %}
                    {{ form.email.errors }}
                    {% endif %}

                    <p>{{ form.email }}</p>
                    <input type="submit" class="btn btn-secondary btn-lg btn-block" value="Reset password">
                </form>
            </div>

        </div>
    </div>

</div>
{% endblock %}