{% extends 'layout.html' %}
{% load static %}

{% block linkcss %}
<link rel="stylesheet" href="{% static 'css/generic/_g.input.style.css' %}">
{% endblock %}


{% block content %}
{% if validlink %}
<div class="container" style="height: 100vh;">
    <div class="row align-items-center" style="height: 100vh;">
        <div class="col align-self-center">
            <p class="text-center">
                Informe a nova senha.
            </p>
            <form style="width: 300px;" class="ml-auto mr-auto" action="" method="post">
                {% csrf_token %}
                <div class="form-group">
                    {{ form.new_password1.label }}
                    {{ form.new_password1.errors }}
                    {{ form.new_password1 }}
                </div>
                <div class="form-group">
                    {{ form.new_password2.label }}
                    {{ form.new_password2.errors }}
                    {{ form.new_password2 }}
                </div>

                <input class="btn btn-secondary btn-lg btn-block" type="submit" value="Alterar senha" />
            </form>
        </div>
    </div>
</div>

{% else %}
<h1>Falha ao tentar alerar a senha</h1>
<p>
    Este link de alteração não é valido, possivelmente ele já foi usado antes. Por favor, tente alterar a senha
    novamente.
</p>
<p>
    <a class="btn btn-primary" href="{% url 'password_reset' %}">Alterar senha</a>
</p>
{% endif %}
{% endblock %}