{% load static %}

<div class="linha">
    <div class="coluna">
        {% for image in image_list %}
            <img src="{{ image.foto.url }}" class="open-modal" data-src="{{image.foto.url}}">
        {% endfor %}
    </div>
    <div class="coluna">
        {% for image in image_list reversed %}
            <img src="{{ image.foto.url }}" class="open-modal" data-src="{{image.foto.url}}">
        {% endfor %}
    </div>
    <div class="coluna">
        {% for image in image_list %}
            <img src="{{ image.foto.url }}" class="open-modal" data-src="{{image.foto.url}}">
        {% endfor %}
    </div>
    <div class="coluna">
        {% for image in image_list reversed %}
            <img src="{{ image.foto.url }}" class="open-modal" data-src="{{image.foto.url}}">
        {% endfor %}
    </div>
</div>